.todo-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-item.done .item-label{
    text-decoration: line-through;
}

.todo-item.important .item-label{
    font-weight: 700;
    color:steelblue;
}

.todo-item .item-label{
    cursor: pointer;
}

.todo-item .item-actions .btn{
    min-width: 40px;
}
.todo-item .item-actions .remove-item{
 margin-right: 5px;
}