.app-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1rem;
}

.app-header .status-info{
    color: grey;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
}